evcc-awtrix-node-red-flow.json
[{"id":"e6f0c3ea2dccca95","type":"tab","label":"evcc - awtrix","disabled":false,"info":"","env":[]},{"id":"78c9ea20c19bf05d","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix pvPower","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/pvPower\";\n\nvar value = Number(flow.get(\"pvPower\"));\nvar value2 = value;\nvar unit = \"W\";\n\nvar icon = \"49139\";\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if (value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\n// Don't publish below 10 watts\nif (Number(value2) > 10) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":280,"wires":[["ddcbf1af6383c8e6"]]},{"id":"6ef365ab801d9481","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix batterySoc","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/batterySoc\";\n\nvar value = Number(flow.get(\"batterySoc\"));\nvar value2 = Number(flow.get('batteryPower'));\nvar value3 = \"unused\";\nvar unit = \"%\";\nvar icon = \"\";\n\nif (value2 <= 0) {\n    value3 = \"charging\";\n} else if (value2 > 0) {\n    value3 = \"discharging\";\n}\n\nif (value2 > 20) {\n     icon = \"55567\";\n} else if (value2 < -20) {\n     icon = \"54465\";\n} else if (value > 80) {\n    icon = \"6363\";\n} else if (value > 61 && value < 80) {\n    icon = \"6362\";\n} else if (value > 41 && value < 60) {\n    icon = \"6361\";\n} else if (value > 21 && value < 40) {\n    icon = \"6360\";\n} else if (value < 21) {\n    icon = \"6359\";\n}\n\nvalue = value.toFixed(0);\nvalue2 = value2.toFixed(0);\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"progress\": value,\n    \"icon\": icon, \n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0 \n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit + ' | ' + value2  + ' W | ' + value3});\n\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":460,"wires":[["ddcbf1af6383c8e6"]]},{"id":"405856532935e001","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix homePower","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/homePower\";\n\nvar value = Number(flow.get(\"homePower\"));\nvar unit = \"W\";\nvar icon = \"1299\";\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if (value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":220,"wires":[["ddcbf1af6383c8e6"]]},{"id":"300b7ab3d3932a42","type":"mqtt in","z":"e6f0c3ea2dccca95","name":"mqtt - evcc","topic":"evcc/#","qos":"2","datatype":"auto-detect","broker":"7d8b163feef9f343","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":220,"wires":[["41ceb0635cde0d2f"]]},{"id":"41ceb0635cde0d2f","type":"switch","z":"e6f0c3ea2dccca95","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"evcc/site/version","vt":"str"},{"t":"eq","v":"evcc/site/homePower","vt":"str"},{"t":"eq","v":"evcc/site/pvPower","vt":"str"},{"t":"eq","v":"evcc/site/gridPower","vt":"str"},{"t":"eq","v":"evcc/site/batteryPower","vt":"str"},{"t":"eq","v":"evcc/site/batterySoc","vt":"str"},{"t":"eq","v":"evcc/loadpoints/1/chargePower","vt":"str"},{"t":"eq","v":"evcc/loadpoints/1/vehicleSoc","vt":"str"},{"t":"eq","v":"evcc/loadpoints/1/connected","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":270,"y":220,"wires":[["32e6b60409a137ef"],["991142c14f1d70f8"],["7835fd4602e35626"],["d9da333c3886553f"],["528ad799101b88e7"],["64d8f4410c4ad1fc"],["ee17dab0e08a51d0"],["4872c5e2db8376dc"],["3276d4a14bb6b61d"]]},{"id":"991142c14f1d70f8","type":"function","z":"e6f0c3ea2dccca95","name":"evcc homePower","func":"flow.set(\"homePower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":220,"wires":[["405856532935e001"]]},{"id":"7835fd4602e35626","type":"function","z":"e6f0c3ea2dccca95","name":"evcc pvPower","func":"flow.set(\"pvPower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["78c9ea20c19bf05d"]]},{"id":"528ad799101b88e7","type":"function","z":"e6f0c3ea2dccca95","name":"evcc batteryPower","func":"flow.set(\"batteryPower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":400,"wires":[["183c6a2b98091b4b","6ef365ab801d9481"]]},{"id":"64d8f4410c4ad1fc","type":"function","z":"e6f0c3ea2dccca95","name":"evcc batterySoc","func":"flow.set(\"batterySoc\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":460,"wires":[["6ef365ab801d9481"]]},{"id":"183c6a2b98091b4b","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix batteryPower","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/batteryPower\";\n\nvar value = Number(flow.get(\"batteryPower\"));\nvar value2 = value;\nvar value3 = \"unused\";\nvar unit = \"W\";\nvar icon = \"\";\n\nif (value < 0) {\n    icon = \"32051\";\n} else {\n    icon = \"32056\";\n}\n\nif (value < 0) {\n    value = value * -1;\n    value3 = \"charging\";\n} else {\n    value3 = \"discharging\";\n}\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if(value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit + ' | ' + value3 });\n\n// Don't publish below 10 and above -10 watts\nif (Number(value2) > 10 || Number(value2) < -10) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":400,"wires":[["ddcbf1af6383c8e6"]]},{"id":"ee17dab0e08a51d0","type":"function","z":"e6f0c3ea2dccca95","name":"evcc chargePower (loadpoint 1)","func":"flow.set(\"chargePower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":520,"wires":[["c9d535e4a9600b78"]]},{"id":"c9d535e4a9600b78","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix chargePower","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/chargePower\";\n\nvar value = Number(flow.get(\"chargePower\"));\nvar value2 = value;\nvar unit = \"W\";\nvar icon = \"44231\";\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if (value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\n// Don't publish below 20 watts\nif (Number(value2) > 20) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":520,"wires":[["ddcbf1af6383c8e6"]]},{"id":"4872c5e2db8376dc","type":"function","z":"e6f0c3ea2dccca95","name":"evcc vehicleSoc (loadpoint 1)","func":"flow.set(\"vehicleSoc\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":580,"wires":[["16ecb39309a6ef0d"]]},{"id":"16ecb39309a6ef0d","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix vehicleSoc","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/vehicleSoc\";\n\nvar value = Number(flow.get(\"vehicleSoc\"));\nvar value2 = flow.get(\"connected\");\nvar unit = \"%\";\nvar icon = \"7421\";\n\nvalue = value.toFixed(0);\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"progress\": value,\n    \"icon\": icon, \n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0 \n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\n// Don't publish if soc is 0 (car not connected)\nif (Number(value) > 0 && value2 == true) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":600,"wires":[["ddcbf1af6383c8e6"]]},{"id":"578137b506acf626","type":"comment","z":"e6f0c3ea2dccca95","name":"Readme.1st","info":"1. evcc: connect evcc with your mqtt server\n2. AWTRIX: connect AWTRIX device with your mqtt server\n3. AWTRIX: download all icons used by the flow (see below) to your AWTRIX device (see icons in settings)\n4. This flow: change variable \"awtrix_prefix\" (see \"vars\" node) to the mqtt topic of your AWTRIX device (see mqtt in settings \"prefix\")\n5. This flow: change mqtt server settings in node-red to your mqtt server (see right side settings icon \"MQTT\")\n\nUsed icons (download to AWTRIX device):\n1299\n49139\n32051\n32056\n6363\n54465\n6363\n6362\n6361\n6360\n6359\n44231\n59649\n59648\n63411\n\nMore icons:\nhttps://developer.lametric.com/icons","x":90,"y":40,"wires":[]},{"id":"b427c2cfb0139e0e","type":"change","z":"e6f0c3ea2dccca95","name":"vars","rules":[{"t":"set","p":"awtrix_prefix","pt":"flow","to":"awtrix/stefan","tot":"str"},{"t":"set","p":"awtrix_duration","pt":"flow","to":"10","tot":"num"},{"t":"set","p":"awtrix_lifetime","pt":"flow","to":"120","tot":"num"},{"t":"set","p":"awtrix_repeat","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"qos","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"retain","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":120,"wires":[[]]},{"id":"414db2f38b8d78bd","type":"inject","z":"e6f0c3ea2dccca95","name":"Init vars","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["b427c2cfb0139e0e"]]},{"id":"ddcbf1af6383c8e6","type":"mqtt out","z":"e6f0c3ea2dccca95","name":"mqtt - awtrix","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7d8b163feef9f343","x":1050,"y":360,"wires":[]},{"id":"d580c72aac7b0f75","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix settings","func":"// Set dafault values\n// See: https://blueforcer.github.io/awtrix3/#/api\n\n// Set device default values\nvar awtrix_bri = '50'; // Brightness (0-200)\nvar awtrix_teff = '10'; // App transition effect\nvar awtrix_tspeed = '800'; // App transition time\nvar awtrix_sspeed = '50'; // Scroll speed\n\n// Show preinstalled apps (needs manual restart of the device after publishing)\nvar awtrix_tim = true; // Show time\nvar awtrix_dat = false; // Show date\nvar awtrix_hum = false; // Show humidity (sensor in device)\nvar awtrix_temp = false; // Show temperature (sensor in device)\nvar awtrix_bat = false; // Show battery soc of device\n\n// --------------------------------------------------\n\nvar prefix = flow.get(\"awtrix_prefix\");\nmsg.topic = prefix + \"/settings\";\n\nmsg.payload = {\n    \"BRI\": awtrix_bri,\n    \"TEFF\": awtrix_teff,\n    \"TSPEED\": awtrix_tspeed,\n    \"SSPEED\": awtrix_sspeed,\n    \"TIM\": awtrix_tim,\n    \"DAT\": awtrix_dat,\n    \"HUM\": awtrix_hum,\n    \"TEMP\": awtrix_temp,\n    \"BAT\": awtrix_bat\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":740,"wires":[["ddcbf1af6383c8e6"]]},{"id":"f22009ec7941474e","type":"inject","z":"e6f0c3ea2dccca95","name":"Change AWTRIX settings","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":740,"wires":[["d580c72aac7b0f75"]]},{"id":"d14b202e90bd03ea","type":"comment","z":"e6f0c3ea2dccca95","name":"Set default values (manually)","info":"Set some default values if you do not want\nto change it on the device directly.\nSee \"awtrix settings\" node for variables.\nYou may want to change some ...\n\nTo set the values click the button of below\nnode.\n\nVisit the AWTRIX website for all settings:\nhttps://blueforcer.github.io/awtrix3/#/api","x":140,"y":700,"wires":[]},{"id":"d9da333c3886553f","type":"function","z":"e6f0c3ea2dccca95","name":"evcc gridPower","func":"flow.set(\"gridPower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["ccd77c4e343f882e"]]},{"id":"ccd77c4e343f882e","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix gridPower","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/gridPower\";\n\nvar value = Number(flow.get(\"gridPower\"));\nvar value2 = value;\nvar unit = \"W\";\n\nvar value2 = value;\nvar value3 = \"unused\";\nvar unit = \"W\";\nvar icon = \"\";\n\nif (value < 0) {\n    icon = \"59649\";\n} else {\n    icon = \"59648\";\n}\n\nif (value < 0) {\n    value = value * -1;\n    value3 = \"to grid\";\n} else if (value >= 0) {\n    value3 = \"from grid\";\n}\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if(value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit + ' | ' + value3 });\n\n// Don't publish below 20 and above -20 watts\nif (Number(value2) > 20 || Number(value2) < -20) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":340,"wires":[["ddcbf1af6383c8e6"]]},{"id":"0ee29dfbbec8c83c","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix sleep","func":"// Send AWTRIX device to sleep for x seconds\nvar sleep = '3600'; // in seconds\n\n// --------------------------------------------------\n\nvar prefix = flow.get(\"awtrix_prefix\");\nmsg.topic = prefix + \"/sleep\";\n\nmsg.payload = {\n    \"sleep\": sleep\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":820,"wires":[["ddcbf1af6383c8e6"]]},{"id":"fd14fd6206229fc5","type":"inject","z":"e6f0c3ea2dccca95","name":"Send AWTRIX to sleep","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":140,"y":820,"wires":[["0ee29dfbbec8c83c"]]},{"id":"10bb49d284b13790","type":"comment","z":"e6f0c3ea2dccca95","name":"Sleep (manually)","info":"You can change the node to a specific time.\nPlease consider that the device should be\nplugged in to power for longer sleep times, eg.\nover night.\n\nSee \"awtrix sleep\" node for changing amount\nof sleep time.\n\nTo set the values click the button of below\nnode.\n\nVisit the AWTRIX website for all settings:\nhttps://blueforcer.github.io/awtrix3/#/api","x":100,"y":780,"wires":[]},{"id":"32e6b60409a137ef","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix evccVersion","func":"var duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\n\nmsg.topic = prefix + \"/custom/evccVersion\";\n\nvar value = \"evcc     \" + msg.payload;\nvar icon = \"63411\";\n\nmsg.payload = {\n    \"text\": value,\n    \"icon\": icon, \n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0 \n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value });\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":160,"wires":[["ddcbf1af6383c8e6"]]},{"id":"a3ca1de33e4ea3b9","type":"inject","z":"e6f0c3ea2dccca95","name":"Run every minute","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":600,"wires":[["16ecb39309a6ef0d"]]},{"id":"3276d4a14bb6b61d","type":"function","z":"e6f0c3ea2dccca95","name":"evcc connected (loadpoint 1)","func":"flow.set(\"connected\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":640,"wires":[["16ecb39309a6ef0d"]]},{"id":"7d8b163feef9f343","type":"mqtt-broker","name":"MQTT","broker":"<your mqtt server IP>","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]