evcc-awtrix-node-red-flow.json
[{"id":"e6f0c3ea2dccca95","type":"tab","label":"evcc - awtrix","disabled":false,"info":"","env":[]},{"id":"78c9ea20c19bf05d","type":"function","z":"e6f0c3ea2dccca95","name":"pvPower","func":"var app_name = \"pvPower\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\"+app_prefix+app_name;\n\nvar value = Number(flow.get(\"pvPower\"));\nvar value2 = value;\nvar unit = \"W\";\n\nvar icon = \"49139\";\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if (value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\n// Don't publish below 10 watts\nif (Number(value2) > 10) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":320,"wires":[["ddcbf1af6383c8e6"]]},{"id":"6ef365ab801d9481","type":"function","z":"e6f0c3ea2dccca95","name":"batterySoc","func":"var app_name = \"batterySoc\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\" + app_prefix + app_name;\n\nvar value = Number(flow.get(\"batterySoc\"));\nvar value2 = Number(flow.get('batteryPower'));\nvar value3 = \"unused\";\nvar unit = \"%\";\nvar icon = \"\";\n\nif (value2 <= 0) {\n    value3 = \"charging\";\n} else if (value2 > 0) {\n    value3 = \"discharging\";\n}\n\nif (value2 > 20) {\n     icon = \"55567\";\n} else if (value2 < -20) {\n     icon = \"54465\";\n} else if (value >= 80) {\n    icon = \"6363\";\n} else if (value >= 60 && value < 80) {\n    icon = \"6362\";\n} else if (value >= 44 && value < 60) {\n    icon = \"6361\";\n} else if (value >= 21 && value < 40) {\n    icon = \"6360\";\n} else if (value < 21) {\n    icon = \"6359\";\n}\n\nvalue = value.toFixed(0);\nvalue2 = value2.toFixed(0);\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"progress\": value,\n    \"icon\": icon, \n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0 \n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit + ' | ' + value2  + ' W | ' + value3});\n\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":500,"wires":[["ddcbf1af6383c8e6"]]},{"id":"405856532935e001","type":"function","z":"e6f0c3ea2dccca95","name":"homePower","func":"var app_name = \"homePower\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\" + app_prefix + app_name;\n\nvar value = Number(flow.get(\"homePower\"));\nvar unit = \"W\";\nvar icon = \"1299\";\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if (value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":260,"wires":[["ddcbf1af6383c8e6"]]},{"id":"300b7ab3d3932a42","type":"mqtt in","z":"e6f0c3ea2dccca95","name":"mqtt - evcc","topic":"evcc/#","qos":"2","datatype":"auto-detect","broker":"7d8b163feef9f343","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":220,"wires":[["41ceb0635cde0d2f"]]},{"id":"41ceb0635cde0d2f","type":"switch","z":"e6f0c3ea2dccca95","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"evcc/site/version","vt":"str"},{"t":"eq","v":"evcc/status","vt":"str"},{"t":"eq","v":"evcc/site/homePower","vt":"str"},{"t":"eq","v":"evcc/site/pvPower","vt":"str"},{"t":"eq","v":"evcc/site/gridPower","vt":"str"},{"t":"eq","v":"evcc/site/batteryPower","vt":"str"},{"t":"eq","v":"evcc/site/batterySoc","vt":"str"},{"t":"eq","v":"evcc/loadpoints/1/chargePower","vt":"str"},{"t":"eq","v":"evcc/loadpoints/1/vehicleSoc","vt":"str"},{"t":"eq","v":"evcc/loadpoints/1/connected","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":270,"y":220,"wires":[["32e6b60409a137ef"],["dea0267a22aa089b"],["991142c14f1d70f8"],["7835fd4602e35626"],["d9da333c3886553f"],["528ad799101b88e7"],["64d8f4410c4ad1fc"],["ee17dab0e08a51d0"],["4872c5e2db8376dc"],["3276d4a14bb6b61d"]]},{"id":"991142c14f1d70f8","type":"function","z":"e6f0c3ea2dccca95","name":"homePower","func":"flow.set(\"homePower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["405856532935e001"]]},{"id":"7835fd4602e35626","type":"function","z":"e6f0c3ea2dccca95","name":"pvPower","func":"flow.set(\"pvPower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":320,"wires":[["78c9ea20c19bf05d"]]},{"id":"528ad799101b88e7","type":"function","z":"e6f0c3ea2dccca95","name":"batteryPower","func":"flow.set(\"batteryPower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[["183c6a2b98091b4b","6ef365ab801d9481"]]},{"id":"64d8f4410c4ad1fc","type":"function","z":"e6f0c3ea2dccca95","name":"evcc batterySoc","func":"flow.set(\"batterySoc\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":500,"wires":[["6ef365ab801d9481","183c6a2b98091b4b"]]},{"id":"183c6a2b98091b4b","type":"function","z":"e6f0c3ea2dccca95","name":"batteryPower","func":"var app_name = \"batteryPower\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\" + app_prefix + app_name;\n\nvar value = Number(flow.get(\"batteryPower\"));\nvar value2 = value;\nvar value3 = \"unused\";\nvar value4 = Number(flow.get(\"batterySoc\"));\nvar unit = \"W\";\nvar icon = \"\";\n\nif (value < 0) {\n    icon = \"32051\";\n} else {\n    icon = \"32056\";\n}\n\nif (value < 0) {\n    value = value * -1;\n    value3 = \"charging\";\n} else {\n    value3 = \"discharging\";\n}\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if(value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"progress\": value4,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit + ' | ' + value3 + ' | ' + value4 + ' %' });\n\n// Don't publish below 10 and above -10 watts\nif (Number(value2) > 10 || Number(value2) < -10) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":440,"wires":[["ddcbf1af6383c8e6"]]},{"id":"ee17dab0e08a51d0","type":"function","z":"e6f0c3ea2dccca95","name":"chargePower (loadpoint 1)","func":"flow.set(\"chargePower_lp1\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":560,"wires":[["c9d535e4a9600b78"]]},{"id":"c9d535e4a9600b78","type":"function","z":"e6f0c3ea2dccca95","name":"chargePowerLp1","func":"var app_name = \"chargePowerLp1\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\" + app_prefix + app_name;\n\nvar value = Number(flow.get(\"chargePower_lp1\"));\nvar value2 = value;\nvar unit = \"W\";\nvar icon = \"44231\";\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if (value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\n// Don't publish below 20 watts\nif (Number(value2) > 20) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":560,"wires":[["ddcbf1af6383c8e6"]]},{"id":"4872c5e2db8376dc","type":"function","z":"e6f0c3ea2dccca95","name":"vehicleSoc (loadpoint 1)","func":"flow.set(\"vehicleSoc_lp1\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":620,"wires":[["16ecb39309a6ef0d"]]},{"id":"16ecb39309a6ef0d","type":"function","z":"e6f0c3ea2dccca95","name":"vehicleSocLp1","func":"var app_name = \"vehicleSocLp1\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\" + app_prefix + app_name;\n\nvar value = Number(flow.get(\"vehicleSoc_lp1\"));\nvar value2 = flow.get(\"connected_lp1\");\nvar value3 = flow.get(\"evccStatus\");\nvar unit = \"%\";\nvar icon = \"7421\";\n\nvalue = value.toFixed(0);\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"progress\": value,\n    \"icon\": icon, \n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0 \n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit });\n\n// Don't publish if soc is 0 (car not connected)\nif (Number(value) > 0 && value2 == true && value2 == \"online\") {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":620,"wires":[["ddcbf1af6383c8e6"]]},{"id":"578137b506acf626","type":"comment","z":"e6f0c3ea2dccca95","name":"Readme.1st","info":"1. evcc: connect evcc with your mqtt server\n2. AWTRIX: connect AWTRIX device with your mqtt server\n3. AWTRIX: download all icons used by the flow (see below) to your AWTRIX device (see tab settings/icons in AWTRIX web interface)\n4. This flow: change variable \"awtrix_prefix\" (see \"vars\" node) to the mqtt topic of your AWTRIX device (see mqtt in settings \"prefix\")\n5. This flow: change mqtt server settings in node-red to your mqtt server (see right side settings icon \"MQTT\")\n\nUsed icons (download to AWTRIX device):\n1299\n49139\n32051\n32056\n6363\n54465\n6363\n6362\n6361\n6360\n6359\n44231\n59649\n59648\n63411\n\nMore icons:\nhttps://developer.lametric.com/icons\n\nAbout icons in AWTRIX:\nhttps://blueforcer.github.io/awtrix3/#/icons\n\nAWTRIX settings (see \"config\" note):\nawtrix_bri = '70'; // Brightness (0-255)\nawtrix_abri = false; // Automatic brightness\nawtrix_teff = '10'; // App transition effect\nawtrix_tspeed = '800'; // App transition time\nawtrix_sspeed = '50'; // Scroll speed\n\nShow preinstalled AWTRIX apps (see \"config\" note; needs manual restart of the device after publishing):\nawtrix_app_tim = true; // Show time\nawtrix_app_dat = false; // Show date\nawtrix_app_hum = false; // Show humidity (sensor in device)\nawtrix_app_temp = false; // Show temperature (sensor in device)\nawtrix_app_bat = false; // Show battery soc of device\n","x":90,"y":40,"wires":[]},{"id":"b427c2cfb0139e0e","type":"change","z":"e6f0c3ea2dccca95","name":"config","rules":[{"t":"set","p":"awtrix_prefix","pt":"flow","to":"awtrix/stefan","tot":"str"},{"t":"set","p":"awtrix_app_prefix","pt":"flow","to":"evcc_","tot":"str"},{"t":"set","p":"awtrix_duration","pt":"flow","to":"10","tot":"num"},{"t":"set","p":"awtrix_lifetime","pt":"flow","to":"120","tot":"num"},{"t":"set","p":"awtrix_repeat","pt":"flow","to":"2","tot":"num"},{"t":"set","p":"awtrix_sleeptime","pt":"flow","to":"36000","tot":"num"},{"t":"set","p":"qos","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"retain","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"awtrix_bri","pt":"flow","to":"70","tot":"num"},{"t":"set","p":"awtrix_teff","pt":"flow","to":"10","tot":"num"},{"t":"set","p":"awtrix_tspeed","pt":"flow","to":"800","tot":"num"},{"t":"set","p":"awtrix_sspeed","pt":"flow","to":"50","tot":"num"},{"t":"set","p":"awtrix_app_tim","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"awtrix_app_dat","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"awtrix_app_hum","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"awtrix_app_temp","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"awtrix_app_bat","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["d580c72aac7b0f75"]]},{"id":"414db2f38b8d78bd","type":"inject","z":"e6f0c3ea2dccca95","name":"Init vars","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["b427c2cfb0139e0e"]]},{"id":"ddcbf1af6383c8e6","type":"mqtt out","z":"e6f0c3ea2dccca95","name":"mqtt - awtrix","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7d8b163feef9f343","x":1150,"y":340,"wires":[]},{"id":"d580c72aac7b0f75","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix settings","func":"// Set dafault values\n// See: https://blueforcer.github.io/awtrix3/#/api\n\n// Set device default values\nvar awtrix_bri = Number(flow.get(\"awtrix_bri\")); // Brightness (0-255)\nvar awtrix_abri = false; // Automatic brightness\nvar awtrix_teff = Number(flow.get(\"awtrix_teff\")); // App transition effect\nvar awtrix_tspeed = Number(flow.get(\"awtrix_tspeed\")); // App transition time\nvar awtrix_sspeed = Number(flow.get(\"awtrix_sspeed\")); // Scroll speed\n\n// Show preinstalled apps (needs manual restart of the device after publishing)\nvar awtrix_app_tim = !!flow.get(\"awtrix_app_tim\"); // Show time\nvar awtrix_app_dat = !!flow.get(\"awtrix_app_dat\"); // Show date\nvar awtrix_app_hum = !!flow.get(\"awtrix_app_hum\"); // Show humidity (sensor in device)\nvar awtrix_app_temp = !!flow.get(\"awtrix_app_temp\"); // Show temperature (sensor in device)\nvar awtrix_app_bat = !!flow.get(\"awtrix_app_bat\"); // Show battery soc of device\n\n// --------------------------------------------------\n\nvar prefix = flow.get(\"awtrix_prefix\");\nmsg.topic = prefix + \"/settings\";\n\nmsg.payload = {\n    \"BRI\": awtrix_bri,\n    \"ABRI\": awtrix_abri,\n    \"TEFF\": awtrix_teff,\n    \"TSPEED\": awtrix_tspeed,\n    \"SSPEED\": awtrix_sspeed,\n    \"TIM\": awtrix_app_tim,\n    \"TMODE\": 1,\n    \"DAT\": awtrix_app_dat,\n    \"HUM\": awtrix_app_hum,\n    \"TEMP\": awtrix_app_temp,\n    \"BAT\": awtrix_app_bat\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":100,"wires":[["ddcbf1af6383c8e6"]]},{"id":"d9da333c3886553f","type":"function","z":"e6f0c3ea2dccca95","name":"gridPower","func":"flow.set(\"gridPower\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":380,"wires":[["ccd77c4e343f882e"]]},{"id":"ccd77c4e343f882e","type":"function","z":"e6f0c3ea2dccca95","name":"gridPower","func":"var app_name = \"gridPower\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\"+app_prefix+app_name;\n\nvar value = Number(flow.get(\"gridPower\"));\nvar value2 = value;\nvar unit = \"W\";\n\nvar value2 = value;\nvar value3 = \"unused\";\nvar unit = \"W\";\nvar icon = \"\";\n\nif (value < 0) {\n    icon = \"59649\";\n} else {\n    icon = \"59648\";\n}\n\nif (value < 0) {\n    value = value * -1;\n    value3 = \"to grid\";\n} else if (value >= 0) {\n    value3 = \"from grid\";\n}\n\nif (value >= 10000) {\n    value = value/1000 - 0.5;\n    value = value.toFixed(0);\n    unit = \"kW\";\n} else if(value >= 1000) {\n    value = value/1000 - 0.05;\n    value = value.toFixed(1);\n    unit = \"kW\";\n} else {\n    value = value.toFixed(0);\n}\n\nmsg.payload = {\n    \"text\": value + ' ' + unit,\n    \"icon\": icon,\n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0\n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value + ' ' + unit + ' | ' + value3 });\n\n// Don't publish below 20 and above -20 watts\nif (Number(value2) > 20 || Number(value2) < -20) {\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":380,"wires":[["ddcbf1af6383c8e6"]]},{"id":"0ee29dfbbec8c83c","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix sleep","func":"// Send AWTRIX device to sleep for x seconds\nvar sleep = flow.get(\"awtrix_sleeptime\"); // in seconds\nvar prefix = flow.get(\"awtrix_prefix\");\nmsg.topic = prefix + \"/sleep\";\n\nmsg.payload = {\n    \"sleep\": sleep\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":780,"wires":[["ddcbf1af6383c8e6"]]},{"id":"fd14fd6206229fc5","type":"inject","z":"e6f0c3ea2dccca95","name":"Send AWTRIX to sleep","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":140,"y":780,"wires":[["0ee29dfbbec8c83c"]]},{"id":"10bb49d284b13790","type":"comment","z":"e6f0c3ea2dccca95","name":"Sleep (manually)","info":"You can change the node to a specific time.\nPlease consider that the device should be\nplugged in to power for longer sleep times, eg.\nover night.\n\nSee \"awtrix sleep\" node for changing amount\nof sleep time.\n\nTo set the values click the button of below\nnode.\n\nVisit the AWTRIX website for all settings:\nhttps://blueforcer.github.io/awtrix3/#/api","x":100,"y":740,"wires":[]},{"id":"32e6b60409a137ef","type":"function","z":"e6f0c3ea2dccca95","name":"evccVersion","func":"var app_name = \"evccVersion\";\n\nvar duration = flow.get(\"awtrix_duration\");\nvar lifetime = flow.get(\"awtrix_lifetime\");\nvar repeat = flow.get(\"awtrix_repeat\");\nvar prefix = flow.get(\"awtrix_prefix\");\nvar app_prefix = flow.get(\"awtrix_app_prefix\");\n\nmsg.topic = prefix + \"/custom/\" + app_prefix + app_name;\n\nvar value = \"evcc     \" + msg.payload;\nvar icon = \"63411\";\n\nmsg.payload = {\n    \"text\": value,\n    \"icon\": icon, \n    \"repeat\": repeat,\n    \"lifetime\": lifetime,\n    \"duration\": duration,\n    \"pushIcon\": 0 \n};\n\nnode.status({ fill: 'green', shape: 'ring', text: value });\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":160,"wires":[["ddcbf1af6383c8e6"]]},{"id":"a3ca1de33e4ea3b9","type":"inject","z":"e6f0c3ea2dccca95","name":"Run every minute","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":620,"wires":[["16ecb39309a6ef0d"]]},{"id":"3276d4a14bb6b61d","type":"function","z":"e6f0c3ea2dccca95","name":"connected (loadpoint 1)","func":"flow.set(\"connected_lp1\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":680,"wires":[["16ecb39309a6ef0d"]]},{"id":"3dfe6f359d468dbe","type":"function","z":"e6f0c3ea2dccca95","name":"awtrix reboot","func":"// Reboot AWTRIX device\nvar prefix = flow.get(\"awtrix_prefix\");\nmsg.topic = prefix + \"/reboot\";\n\nmsg.payload = \"\";\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":860,"wires":[["ddcbf1af6383c8e6"]]},{"id":"e9af03741d397b1f","type":"inject","z":"e6f0c3ea2dccca95","name":"Reboot AWTRIX","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":860,"wires":[["3dfe6f359d468dbe"]]},{"id":"801685c21c2f6748","type":"comment","z":"e6f0c3ea2dccca95","name":"Reboot (manually)","info":"You can reboot the awtrix device by clicking the button of below\nnode.\n\nVisit the AWTRIX website for all settings:\nhttps://blueforcer.github.io/awtrix3/#/api","x":110,"y":820,"wires":[]},{"id":"dea0267a22aa089b","type":"function","z":"e6f0c3ea2dccca95","name":"evccStatus","func":"flow.set(\"evccStatus\", msg.payload);\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});   \nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":200,"wires":[["16ecb39309a6ef0d"]]},{"id":"7d8b163feef9f343","type":"mqtt-broker","name":"MQTT","broker":"<your MQTT IP>","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]